@use '../helpers' as *;

.burger-button {
  width: rem(32);
  height: rem(22);

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  color: var(--color-dark-gray);
  background-color: transparent;
  border: none;

  @include hover {
    color: var(--color-lavender);
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.25em -0.1em;
      }
      &:nth-child(2) {
        rotate: -45deg;
      }
      &:nth-child(3) {
        width: 0;
      }
    }
  }

  &__line {
    width: 100%;
    height: rem(2);
    background-color: currentColor;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);
  }
}