@use '../helpers' as *;

.burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  width: rem(40);
  height: rem(30);
  position: relative;
  z-index: 3;


  @include hover {
    color: var(--color-pale-orange);
  }

  // повышаем размер кликабельности закрытия бургер меню
  &::before {
    content: '';
    position: absolute;
    inset: -1rem;
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.3em 0.2em;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  &__line {
    width: 100%;
    height: rem(2);
    background-color: currentColor;
    transition-duration: var(--transition-duration);

  }
}
