@use '../helpers' as *;

.cities {
  padding-block: rem(78) rem(60);
  display: grid;
  row-gap: fluid(25, 16);
  // margin-right: 0 !important;
  // padding-right: 0 !important;

  @include mobile {
    padding-block: 1rem 6rem;
  }

  &__card {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: fluid(18, 10) fluid(9, 6);
    border-radius: rem(12);
    row-gap: fluid(16, 10);

    &-title {
      color: var(--color-lavender-blue);
      font-family: var(--font-family-montserrat);
      font-weight: 600;
    }

    &-image {
      width: 100%;
      min-width: rem(140);
      height: fluid(190, 123);
    }
  }

  &__list {
    display: flex;
    column-gap: rem(40);
    overflow-x: scroll;
    @include tablet {
      mask-image: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-lavender-blue);
      border-radius: 4px;
    }
    }
  }
}