@use '../helpers' as *;

.hero {
  background: url('../../images/hero/hero-back.jpg') center/cover no-repeat;
  min-height: rem(860);

  &__title,
  &__subtitle {
    font-family: var(--font-family-montserrat);
    @include mobile {
      text-align: center;
    }
  }



   &__body {
    display: grid;
    grid-template-areas:
    'info info'
    'description slider'
    'button slider';
    row-gap: fluid(35, 27);

    @include mobile {
      position: relative;
      align-items: center;
      grid-template-areas:
      'info info'
      'description description'
      'button button';
    }


    &-info {
      @include mobile-s {
        display: grid;
        row-gap: 0.7rem;
      }
      grid-area: info;
    }
  }



  &__description {
    font-weight: 400;
    max-width: fluid(520, 365);
    grid-area: description;
    @include mobile {
      text-align: center;
      margin-inline: auto;
    }
  }

  &__button {
    max-width: rem(200);
    grid-area: button;
    @include mobile {
      margin-inline: auto;
    }
  }
}