@use '../helpers' as *;

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: rem(9);

  &::after {
    --size: #{rem(27)};

    @include square(var(--size));
    content: '';
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include tablet {
      --size: #{rem(19.2)};
    }
    @include mobile {
      --size: #{rem(17.7)};
    }
  }

  &--right-arrow {
    &::after {
      background-image: url('../../icons/prem-health/arrow-right.svg');
    }

    &-gray {
      &::after{
        background-image: url('../../icons/arrow-right-gray.svg');
      }
    }
  }
}