@use '../helpers' as *;


// .slider {

//   @include mobile {
//     position: absolute;
//     bottom: -230%;
//     left: 25%;
//   }

//   @include mobile-s {
//     bottom: calc(-100vw + 60px);
//     left: 15%;
//   }
//   grid-row: 2 / 4;
//   &__dots {
//     display: flex;
//     flex-direction: column;
//     gap: rem(12);
//     align-items: center;

//     @include mobile {
//       flex-direction: row;
//     }
//   }
//   &__dot {
//     width: 14px;
//     height: 14px;
//     border-radius: 50%;
//     background-color: transparent;
//     opacity: 0.7;
//     border: 2px solid white;
//     transition-duration: var(--transition-duration);
//     padding: 0;
//     font-size: 0;
//     cursor: pointer;

//     &.is-active {
//       width: 20px;
//       height: 20px;
//       opacity: 1;
//       background-color: white;
//       border: none;
//     }
//   }

//   &__body {
//     position: relative;
//     overflow: hidden;
//   }

//   &__content {
//     opacity: 0;
//     transform: scale(0.98);
//     transition: opacity 0.5s ease, transform 0.5s ease;
//     pointer-events: none;
//     position: absolute;
//     inset: 0;

//     &.is-active {
//       opacity: 1;
//       transform: scale(1);
//       pointer-events: auto;
//       position: relative;
//     }
//   }
// }














.slider {

  @include mobile {
    position: absolute;
    bottom: -230%;
    left: 25%;
  }

  @include mobile-s {
    bottom: calc(-100vw + 60px);
    left: 15%;
  }
  grid-row: 2 / 4;
  &__dots {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    align-items: center;

    @include mobile {
      flex-direction: row;
    }
  }
  &__dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.7;
    border: 2px solid white;
    transition-duration: var(--transition-duration);
    padding: 0;
    font-size: 0;
    cursor: pointer;

    &.is-active {
      width: 20px;
      height: 20px;
      opacity: 1;
      background-color: white;
      border: none;
    }
  }

  &__body {
    position: relative;
    overflow: hidden;
  }

  &__content {
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    position: absolute;
    inset: 0;

    &.is-active {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
      position: relative;
    }
  }

}

