@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  /* Основные цвета */
  --color-black: #000000;
  --color-white: #FFFFFF;
  /* Серые */
  --color-dark-gray: #151515;
  --color-gray: #3E3E3E;
  --color-gray-accent: #98989A;
  --color-medium-gray: #606060;
  --color-ml-gray: #7f7e7e;
  --color-light-gray: #CBCBCB;
  --color-extra-light-gray: #F7F7F7;
  /* Синие */
  --color-dark-blue: #081420;
  --color-blue: #002073;
  --color-light-blue: #5AB5FF;
  --color-lavender: #6C5FBC;
  /* Фиолетовые */
  --color-purple: #665AB5;
  --color-light-purple: #A596FF;
  /* Зеленые */
  --color-dark-green: #005128;
  --color-green: #00B67A;
  --color-light-green: #3DE25C;
  /* Красные/Розовые */
  --color-red: #EB3F5E;
  --color-light-red: #FF5C5C;
  --color-pink: #DB79AD;
  --color-light-pink: #DBD9EE;
  --color-red-pink: #F7C5BA;
  /* Оранжевые/Желтые */
  --color-orange: #FBAD18;
  --color-light-orange: #FFBB71;
  --color-yellow: #F6E259;
  --color-light-yellow: #F7EDD0;
  /* Коричневые */
  --color-brown: #4C2F1B;
  --color-light-brown: #86522C;
  --font-family-inter: "Inter", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;
  --font-family-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-public-sans: "Public Sans", sans-serif;
  --font-family-quicksand: "Quicksand", sans-serif;
  --font-family-roboto: "Roboto", sans-serif;
  --container-width: 78.125rem;
  --container-padding-x: 1.875rem;
  --border: 0.0625rem solid var(--color-light-gray);
  --transition-duration: 0.2s;
}
@media (width <= 63.99875rem) {
  :root {
    --container-width: 55.625rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 29.99875rem) {
  .visible-mobile-s {
    display: none !important;
  }
}

@media (width <= 29.99875rem) {
  .hidden-mobile-s {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.75625rem + 0.5vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-inter);
  letter-spacing: -0.03em;
  color: var(--color-medium-gray);
  background-color: var(--color-extra-light-gray);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark-gray);
  font-family: var(--font-family-poppins);
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(2.875rem, 2.0140625rem + 3.625vw, 4.6875rem);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(1.875rem, 1.2515625rem + 2.625vw, 3.1875rem);
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.875rem, 1.4296875rem + 1.875vw, 2.8125rem);
}

h4, .h4 {
  font-size: clamp(1.25rem, 1.071875rem + 0.75vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(0.9375rem, 0.7rem + 1vw, 1.4375rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.88125rem + 0.5vw, 1.25rem);
}

p {
  --paragraphMarginBottom: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-purple);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-purple);
  }
}
a[class] {
  text-decoration: none;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  max-width: clamp(6.875rem, 6.7265625rem + 0.625vw, 7.1875rem);
}
@media (any-hover: hover) {
  .logo:hover {
    animation: pulse 1s infinite;
  }
}
@media (any-hover: none) {
  .logo:active {
    animation: pulse 1s infinite;
  }
}

.button {
  padding: clamp(0.8125rem, 0.6046875rem + 0.875vw, 1.25rem) clamp(1.0625rem, 0.7953125rem + 1.125vw, 1.625rem);
  color: var(--color-extra-light-gray);
  background-color: var(--color-lavender);
  border-radius: 1.125rem;
  border: var(--border);
  border-color: var(--color-lavender);
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-lavender);
    background-color: var(--color-extra-light-gray);
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-lavender);
    background-color: var(--color-extra-light-gray);
  }
}
.button-light {
  color: var(--color-lavender);
  background-color: var(--color-extra-light-gray);
}
@media (any-hover: hover) {
  .button-light:hover {
    color: var(--color-extra-light-gray);
    background-color: var(--color-lavender);
  }
}
@media (any-hover: none) {
  .button-light:active {
    color: var(--color-extra-light-gray);
    background-color: var(--color-lavender);
  }
}

.burger-button {
  width: 2rem;
  height: 1.375rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  color: var(--color-dark-gray);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-lavender);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-lavender);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-extra-light-gray);
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  border-bottom: var(--border);
  padding-block: 3rem 1.5rem;
}
@media (width <= 63.99875rem) {
  .header__body-inner {
    padding-block: 2.125rem 1.125rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body-inner {
    padding-bottom: 1.875rem;
  }
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    transition-duration: var(--transition-duration);
    background-color: var(--color-extra-light-gray);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 47.99875rem) {
  .header__nav {
    overflow-y: auto;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  column-gap: 3.3125rem;
}
@media (width <= 63.99875rem) {
  .header__nav-list {
    column-gap: 2.375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__nav-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__nav-link {
  font-weight: 500;
}
.header__nav-link.is-active {
  font-weight: 600;
  color: var(--color-lavender);
  pointer-events: none;
}
.header__authorization {
  display: flex;
  column-gap: 0.5rem;
  font-weight: 700;
}
@media (width <= 63.99875rem) {
  .header__authorization {
    column-gap: 0.375rem;
  }
}
.header__authorization-login {
  padding: clamp(0.8125rem, 0.6046875rem + 0.875vw, 1.25rem) clamp(1.0625rem, 0.7953125rem + 1.125vw, 1.625rem);
}
@media (width <= 47.99875rem) {
  .header__authorization {
    justify-content: center;
  }
}

.trustpilot {
  display: flex;
  width: clamp(6.125rem, 5.3828125rem + 3.125vw, 7.6875rem);
  column-gap: clamp(1rem, 0.88125rem + 0.5vw, 1.25rem);
  align-items: end;
}
@media (width <= 47.99875rem) {
  .trustpilot {
    justify-self: center;
    width: inherit;
  }
}
.trustpilot__info {
  display: flex;
  align-items: center;
  column-gap: clamp(0.3125rem, 0.19375rem + 0.5vw, 0.5625rem);
}
.trustpilot__stars {
  display: inline-flex;
  column-gap: clamp(0.1875rem, 0.1578125rem + 0.125vw, 0.25rem);
  align-items: center;
}
.trustpilot__star {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  background: url("../../icons/star-gray.svg") center/contain no-repeat;
}
.trustpilot__star.is-active {
  background-image: url("../../icons/star-orange.svg");
}
@media (width <= 63.99875rem) {
  .trustpilot__star {
    --size: 0.75rem;
  }
}
.trustpilot__count {
  display: inline-flex;
}

.dish {
  position: relative;
  display: inline-block;
  --size: clamp(12.75rem, 6.040625rem + 28.25vw, 26.875rem);
}
.dish__img {
  width: var(--size);
  height: var(--size);
  display: block;
}
.dish__circle {
  position: absolute;
  bottom: 4%;
  left: 55%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(137deg, var(--color-lavender) 0%, var(--color-purple) 100%);
  border-radius: 50%;
  z-index: -1;
}
.dish__icons-top-right {
  position: absolute;
  top: -22%;
  right: -21%;
  width: clamp(1.23125rem, 0.5840625rem + 2.725vw, 2.59375rem);
  height: clamp(0.7125rem, 0.3384375rem + 1.575vw, 1.5rem);
}
@media (width <= 63.99875rem) {
  .dish__icons-top-right {
    right: -23%;
  }
}
.dish__icons-center-right {
  position: absolute;
  top: 18%;
  right: -15%;
  width: clamp(2.30625rem, 1.095rem + 5.1vw, 4.85625rem);
  height: clamp(1.9375rem, 0.91328125rem + 4.3125vw, 4.09375rem);
}
.dish__icons-bottom-left {
  position: absolute;
  bottom: -14%;
  left: -26%;
  width: clamp(1.13125rem, 0.5375rem + 2.5vw, 2.38125rem);
  height: clamp(0.98125rem, 0.46765625rem + 2.1625vw, 2.0625rem);
}
@media (width <= 63.99875rem) {
  .dish__icons-bottom-left {
    bottom: -23%;
    left: -32%;
  }
}
@media (width <= 47.99875rem) {
  .dish__icons-bottom-left {
    bottom: -16%;
    left: -25%;
  }
}

.card-status {
  position: absolute;
  top: -16%;
  right: -11%;
}
@media (width <= 63.99875rem) {
  .card-status {
    right: -20%;
  }
}
@media (width <= 47.99875rem) {
  .card-status {
    right: -11%;
  }
}
.card-status__inner {
  display: flex;
  justify-content: space-between;
  column-gap: clamp(0.5625rem, 0.2953125rem + 1.125vw, 1.125rem);
  background-color: var(--color-white);
  box-shadow: -7px 9px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  padding: clamp(0.125rem, 0.065625rem + 0.25vw, 0.25rem) clamp(0.48125rem, 0.23484375rem + 1.0375vw, 1rem);
}
.card-status__block {
  display: flex;
  column-gap: clamp(0.5625rem, 0.2953125rem + 1.125vw, 1.125rem);
}
.card-status__content {
  display: grid;
  row-gap: clamp(0.125rem, 0.065625rem + 0.25vw, 0.25rem);
  padding-block: clamp(0.5rem, 0.2328125rem + 1.125vw, 1.0625rem) clamp(0.6875rem, 0.33125rem + 1.5vw, 1.4375rem);
  font-family: var(--font-family-poppins);
  color: var(--color-dark-gray);
}
.card-status__title {
  font-weight: 600;
  font-size: clamp(0.46875rem, 0.21640625rem + 1.0625vw, 1rem);
}
.card-status__status {
  font-weight: 500;
  font-size: clamp(0.29375rem, 0.14234375rem + 0.6375vw, 0.6125rem);
}
.card-status__time {
  display: flex;
  align-items: end;
  padding-block: clamp(0.3125rem, 0.1640625rem + 0.625vw, 0.625rem);
  font-weight: 500;
  font-size: clamp(0.31625rem, 0.15178125rem + 0.6925vw, 0.6625rem);
  color: var(--color-light-gray);
}
.card-status__img {
  width: clamp(2.1875rem, 1.0296875rem + 4.875vw, 4.625rem);
  height: clamp(2.40625rem, 1.14453125rem + 5.3125vw, 5.0625rem);
}

.chart-activity {
  position: absolute;
  bottom: -6%;
  left: -18%;
  display: inline-block;
  border-radius: 1.0625rem;
  box-shadow: 6px -8px 13px 0 rgba(0, 0, 0, 0.15), 7px 9px 18px 0 rgba(26, 32, 44, 0.15);
  background-color: var(--color-white);
}
@media (width <= 63.99875rem) {
  .chart-activity {
    bottom: -15%;
    left: -24%;
  }
}
@media (width <= 47.99875rem) {
  .chart-activity {
    bottom: -8%;
    left: -17%;
  }
}
.chart-activity__graph {
  margin-block: clamp(0.90625rem, 0.44609375rem + 1.9375vw, 1.875rem) clamp(0.46875rem, 0.24609375rem + 0.9375vw, 0.9375rem);
  width: clamp(6.13125rem, 2.89828125rem + 13.6125vw, 12.9375rem);
  height: clamp(2.875rem, 1.3609375rem + 6.375vw, 6.0625rem);
}
.chart-activity__list {
  display: flex;
  justify-content: center;
  column-gap: clamp(0.21875rem, 0.1059375rem + 0.475vw, 0.45625rem);
}
.chart-activity__tab {
  font-family: var(--font-family-poppins);
  padding: clamp(0.125rem, 0.065625rem + 0.25vw, 0.25rem) clamp(0.3125rem, 0.134375rem + 0.75vw, 0.6875rem);
  border-radius: 2.125rem;
  font-size: clamp(0.1875rem, 0.086859375rem + 0.42375vw, 0.399375rem);
}
.chart-activity__tab:not(.is-active) {
  border: none;
  color: var(--color-ml-gray);
}
@media (any-hover: hover) {
  .chart-activity__tab:not(.is-active):hover {
    color: var(--color-extra-light-gray);
  }
}
@media (any-hover: none) {
  .chart-activity__tab:not(.is-active):active {
    color: var(--color-extra-light-gray);
  }
}
.chart-activity__x-axis {
  display: flex;
  justify-content: center;
  column-gap: clamp(0.25rem, 0.13125rem + 0.5vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.134375rem + 0.75vw, 0.6875rem);
}
.chart-activity__x-axis-item {
  font-family: var(--font-family-roboto);
  padding: clamp(0.125rem, 0.065625rem + 0.25vw, 0.25rem) clamp(0.3125rem, 0.134375rem + 0.75vw, 0.6875rem);
  border-radius: 2.125rem;
  border: none;
  font-size: clamp(0.1875rem, 0.086859375rem + 0.42375vw, 0.399375rem);
  color: var(--color-ml-gray);
}
@media (any-hover: hover) {
  .chart-activity__x-axis-item:hover {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
  }
}
@media (any-hover: none) {
  .chart-activity__x-axis-item:active {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
  }
}
.chart-activity__x-axis-item.is-active {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  border: var(--border);
}
@media (any-hover: hover) {
  .chart-activity__x-axis-item.is-active:hover {
    color: var(--color-ml-gray);
    background-color: inherit;
  }
}
@media (any-hover: none) {
  .chart-activity__x-axis-item.is-active:active {
    color: var(--color-ml-gray);
    background-color: inherit;
  }
}

.metrics {
  position: relative;
  background-color: var(--color-purple);
  margin-top: clamp(4.6875rem, 3.0546875rem + 6.875vw, 8.125rem);
  overflow: hidden;
}
.metrics__list {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-block: clamp(2.15625rem, 1.72578125rem + 1.8125vw, 3.0625rem);
}
@media (width <= 47.99875rem) {
  .metrics__list {
    flex-direction: column;
  }
}
.metrics__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-inline: 4.125rem;
}
.metrics__item:not(:last-child) {
  border-right: var(--border);
  border-color: var(--color-ml-gray);
}
@media (width <= 63.99875rem) {
  .metrics__item {
    padding-inline: 2.9375rem;
  }
}
@media (width <= 47.99875rem) {
  .metrics__item {
    padding: 3.75rem 0;
  }
  .metrics__item:not(:last-child) {
    border-right: none;
    border-bottom: var(--border);
    border-color: var(--color-ml-gray);
  }
}
.metrics__value {
  color: var(--color-white);
  font-size: 2.7rem;
  line-height: 1.25;
}
@media (width <= 63.99875rem) {
  .metrics__value {
    font-size: 1.91875rem;
  }
}
@media (width <= 47.99875rem) {
  .metrics__value {
    font-size: 2.7rem;
  }
}
.metrics__key {
  color: var(--color-light-gray);
  max-width: 20rem;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
@media (width <= 63.99875rem) {
  .metrics__key {
    max-width: 9.25rem;
    font-size: 0.6375rem;
  }
}
@media (width <= 47.99875rem) {
  .metrics__key {
    max-width: 13rem;
    font-size: 0.9rem;
  }
}
.metrics__icon {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.metrics__icon-left {
  left: 0;
}
.metrics__icon--left-left {
  left: 0;
}
.metrics__icon-right {
  right: 0;
}
@media (width <= 47.99875rem) {
  .metrics__icon-right {
    top: auto;
    bottom: 0;
    height: auto;
  }
}
.metrics__icon--right-right {
  right: 0;
}
@media (width <= 47.99875rem) {
  .metrics__icon--right-right {
    top: auto;
    bottom: 0;
    height: auto;
  }
}
.metrics__picture {
  position: absolute;
}

.hero__main {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(10.1875rem, 7.4859375rem + 11.375vw, 15.875rem);
  column-gap: 2rem;
}
@media (width <= 63.99875rem) {
  .hero__main {
    column-gap: 1.5rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__main {
    flex-direction: column;
    row-gap: 5.96875rem;
  }
}
.hero__promo {
  display: flex;
  column-gap: clamp(0.75rem, 0.5125rem + 1vw, 1.25rem);
  align-items: center;
  font-family: var(--font-family-poppins);
}
.hero__promo-line {
  display: inline-flex;
  width: 10.32%;
  height: 0.125rem;
  background-color: var(--color-light-gray);
}
@media (width <= 47.99875rem) {
  .hero__promo-line {
    background-color: var(--color-dark-gray);
  }
}
.hero__promo-info {
  font-weight: 600;
  color: var(--color-light-gray);
  font-size: clamp(0.5625rem, 0.384375rem + 0.75vw, 0.9375rem);
}
@media (width <= 47.99875rem) {
  .hero__promo-info {
    color: var(--color-dark-gray);
  }
}
@media (width <= 47.99875rem) {
  .hero__promo {
    justify-content: center;
  }
}
.hero__body {
  display: grid;
  row-gap: 1rem;
}
@media (width <= 47.99875rem) {
  .hero__body {
    align-self: center;
  }
}
.hero__title {
  max-width: 36.3125rem;
  font-weight: 600;
}
.hero__title-highlight {
  color: var(--color-purple);
}
@media (width <= 63.99875rem) {
  .hero__title {
    font-size: clamp(2.875rem, 2.6671875rem + 0.875vw, 3.3125rem);
    max-width: 27.125rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__title {
    max-width: 20.75rem;
    text-align: center;
  }
}
.hero__description {
  color: var(--color-ml-gray);
  max-width: clamp(19.1875rem, 13.4578125rem + 24.125vw, 31.25rem);
  font-size: clamp(0.6875rem, 0.4796875rem + 0.875vw, 1.125rem);
}
.hero__description-highlight {
  color: var(--color-purple);
}
@media (width <= 63.99875rem) {
  .hero__description {
    max-width: 22.125rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__description {
    text-align: center;
  }
}
.hero__action {
  font-family: var(--font-family-poppins);
  padding-block: clamp(1.5625rem, 1.20625rem + 1.5vw, 2.3125rem) clamp(0.625rem, 0.4171875rem + 0.875vw, 1.0625rem);
  display: flex;
  column-gap: clamp(0.875rem, 0.75625rem + 0.5vw, 1.125rem);
}
@media (width <= 47.99875rem) {
  .hero__action {
    justify-content: center;
  }
}
.hero__food-info {
  padding-right: 5%;
  margin-inline: auto;
}

.prem-health {
  border-bottom: var(--border);
}
.prem-health__body {
  display: flex;
  justify-content: space-around;
  column-gap: 5rem;
  padding-block: 7.5rem;
}
@media (width <= 63.99875rem) {
  .prem-health__body {
    padding-block: 5.3125rem;
  }
}
@media (width <= 47.99875rem) {
  .prem-health__body {
    padding-block: 7.25rem 4.125rem;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.prem-health__body-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: clamp(2.1875rem, 1.35625rem + 3.5vw, 3.9375rem);
  max-width: clamp(20.5625rem, 15.7828125rem + 20.125vw, 30.625rem);
}
@media (width <= 47.99875rem) {
  .prem-health__body-inner {
    align-items: center;
  }
}
@media (width <= 47.99875rem) {
  .prem-health__body {
    row-gap: 6.3125rem;
    align-items: center;
  }
}
.prem-health__title {
  max-width: 27.625rem;
  font-weight: 700;
}
@media (width <= 63.99875rem) {
  .prem-health__title {
    max-width: 25.25rem;
  }
}
@media (width <= 47.99875rem) {
  .prem-health__title {
    text-align: center;
  }
}
.prem-health__highlight {
  color: var(--color-purple);
}
.prem-health__list {
  list-style-type: disc;
  display: grid;
  row-gap: clamp(1rem, 0.64375rem + 1.5vw, 1.75rem);
  padding-left: 1rem;
}
.prem-health__link {
  width: fit-content;
}
@media (any-hover: hover) {
  .prem-health__link:hover .icon--right-arrow::after {
    background-image: url("../../icons/prem-health/arrow-right-purple.svg");
  }
}
@media (any-hover: none) {
  .prem-health__link:active .icon--right-arrow::after {
    background-image: url("../../icons/prem-health/arrow-right-purple.svg");
  }
}
.prem-health__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 36%;
  transform: translateY(35%);
  background: url("../../icons/prem-health/arrow-curve-laptop.svg") center/contain no-repeat;
  width: clamp(3.5625rem, 0.63828125rem + 12.3125vw, 9.71875rem);
  height: clamp(6.3125rem, 6.728125rem + -1.75vw, 5.4375rem);
}
@media (width <= 63.99875rem) {
  .prem-health__link::after {
    background-image: url("../../icons/prem-health/arrow-curve-tablet.svg");
    bottom: -1%;
  }
}
@media (width <= 47.99875rem) {
  .prem-health__link::after {
    background-image: url("../../icons/prem-health/arrow-curve-mobile.svg");
    bottom: -15%;
    right: 0;
    left: 10%;
  }
}
.prem-health__description {
  color: var(--color-ml-gray);
  line-height: 1.5;
  font-size: clamp(0.75rem, 0.50359375rem + 1.0375vw, 1.26875rem);
}
.prem-health__image {
  display: block;
  width: clamp(10.66875rem, 6.71140625rem + 16.6625vw, 19rem);
  height: clamp(21.375rem, 13.4484375rem + 33.375vw, 38.0625rem);
}
.prem-health__image-wrapper {
  position: relative;
  width: fit-content;
}
.prem-health__image-wrapper::after {
  --size: 96%;
  width: var(--size);
  height: var(--size);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../images/prem-health/screenshot-iphone-13.png") center/contain no-repeat;
  z-index: -1;
}
.prem-health__image-wrapper::before {
  --width: 3.25rem;
  --height: 3.8125rem;
  width: var(--width);
  height: var(--height);
  content: "";
  position: absolute;
  right: -20%;
  top: 0%;
  transform: translate(-1%, -23%);
  background: url("../../icons/prem-health/top-right.svg") center/contain no-repeat;
}
@media (width <= 63.99875rem) {
  .prem-health__image-wrapper::before {
    --width: 2.33125rem;
    --height: 2.75rem;
    right: -16%;
  }
}
@media (width <= 47.99875rem) {
  .prem-health__image-wrapper::before {
    --width: 1.84375rem;
    --height: 2.16875rem;
    right: -21%;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5625rem;
}
.icon::after {
  --size: 1.6875rem;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (width <= 63.99875rem) {
  .icon::after {
    --size: 1.2rem;
  }
}
@media (width <= 47.99875rem) {
  .icon::after {
    --size: 1.10625rem;
  }
}
.icon--right-arrow::after {
  background-image: url("../../icons/prem-health/arrow-right.svg");
}
.icon--right-arrow-gray::after {
  background-image: url("../../icons/arrow-right-gray.svg");
}

.top-restaurants {
  border-bottom: var(--border);
}
.top-restaurants__body {
  display: grid;
  row-gap: 4.0625rem;
}
.top-restaurants__title {
  font-size: clamp(1.875rem, 1.4296875rem + 1.875vw, 2.8125rem);
  text-align: center;
  padding-bottom: 1.25rem;
}
.top-restaurants__list {
  display: flex;
  column-gap: 1.90625rem;
}
@media (width <= 63.99875rem) {
  .top-restaurants__list {
    column-gap: 1.375rem;
  }
}
@media (width <= 47.99875rem) {
  .top-restaurants__list {
    flex-direction: column;
    row-gap: 2.51875rem;
    align-items: center;
  }
}
.top-restaurants__item {
  box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);
  background: var(--color-white);
}
.top-restaurants__card {
  border-bottom: var(--border);
}
.top-restaurants__card-body {
  padding: 0.6875rem 1.625rem 1.125rem 2.125rem;
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-body {
    padding: 0.4875rem 1.3125rem 0.8rem 1.5625rem;
  }
}
.top-restaurants__card-image {
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}
.top-restaurants__card-badge {
  color: var(--color-light-orange);
  background-color: var(--color-light-yellow);
  font-size: 0.8rem;
  padding: 0.1875rem 0.53125rem;
  border-radius: 0.34375rem;
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-badge {
    font-size: 0.625rem;
    padding: 0.15625rem 0.40625rem;
  }
}
.top-restaurants__card-badge-red {
  color: var(--color-light-red);
  background-color: var(--color-red-pink);
}
.top-restaurants__card-meta {
  display: flex;
  justify-content: space-between;
}
.top-restaurants__card-meta-info {
  display: flex;
  align-items: center;
  column-gap: 0.65rem;
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-meta-info {
    column-gap: 0.4rem;
  }
}
.top-restaurants__card-meta-favorites {
  --size: 2.125rem;
  position: relative;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-restaurants__card-meta-favorites::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-light-pink);
  z-index: 0;
}
.top-restaurants__card-meta-favorites:not(.is-active)::before {
  background-color: inherit;
}
.top-restaurants__card-meta-favorites::after {
  content: "";
  position: relative;
  z-index: 1;
  width: 0.9125rem;
  height: 1.23125rem;
  mask: url("../../icons/favorites-gray.svg") no-repeat center;
  mask-size: contain;
  background-color: var(--color-ml-gray);
  transition-duration: var(--transition-duration);
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-meta-favorites::after {
    width: 0.725rem;
    height: 0.98125rem;
  }
}
.top-restaurants__card-meta-favorites.is-active::after {
  background-color: var(--color-lavender);
}
.top-restaurants__card-star {
  --size: 1.0625rem;
  width: var(--size);
  height: var(--size);
  background: url("../../icons/star-gray.svg") center/contain no-repeat;
  cursor: pointer;
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-star {
    --size: 0.85625rem;
  }
}
.top-restaurants__card-star.is-active {
  background-image: url("../../icons/star-purple.svg");
}
@media (any-hover: hover) {
  .top-restaurants__card-title:hover {
    color: var(--color-lavender);
  }
}
@media (any-hover: none) {
  .top-restaurants__card-title:active {
    color: var(--color-lavender);
  }
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-title {
    font-size: 1.14375rem;
  }
}
.top-restaurants__card-time, .top-restaurants__card-rating {
  font-size: clamp(0.9625rem, 0.84375rem + 0.5vw, 1.2125rem);
}
@media (width <= 63.99875rem) {
  .top-restaurants__card-time, .top-restaurants__card-rating {
    font-size: 0.925rem;
  }
}
.top-restaurants__link {
  display: flex;
  justify-content: flex-end;
  color: var(--color-gray-accent);
}
@media (any-hover: hover) {
  .top-restaurants__link:hover .icon--right-arrow-gray::after {
    background-image: url("../../icons/prem-health/arrow-right-purple.svg");
  }
}
@media (any-hover: none) {
  .top-restaurants__link:active .icon--right-arrow-gray::after {
    background-image: url("../../icons/prem-health/arrow-right-purple.svg");
  }
}

.overall-top {
  padding-block: 6.25rem 7.5rem;
}
@media (width <= 63.99875rem) {
  .overall-top {
    padding-block: 4.4375rem 5.3125rem;
  }
}
@media (width <= 47.99875rem) {
  .overall-top {
    padding-block: 5.25rem 4.125rem;
  }
}
.overall-top__highlight {
  color: var(--color-purple);
}

/*# sourceMappingURL=main.css.map */
